receivers:
  otlp:
    protocols:
      http:

exporters:
  debug:
  otlp/jaeger:
    endpoint: http://jaeger:4318
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug, otlp/jaeger]
